<mat-toolbar color="primary" class="example-spacer">
    <span class="center-toolbar">
        Cosas por hacer
    </span>
    <p class="date">Hoy: {{date | date:'dd/MM/yyyy'}}</p>
</mat-toolbar>


<div class="card-container">
    <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile [colspan]="2">
            <button mat-raised-button color="primary">Liberar Seleccionadas</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-fab [matMenuTriggerFor]="menu" matTooltip="Ordenar">
                <mat-icon color="primary">sort</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Fecha Creacion</button>
                <button mat-menu-item>Fecha Vencimiento</button>
                <button mat-menu-item>Estado</button>
            </mat-menu>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-fab matTooltip="Ordenar Libremente">
                <mat-icon color="primary">reorder</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <mat-card class="example-card" *ngFor="let movie of movies" cdkDrag>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{movie}}</mat-card-title>
                <mat-card-subtitle>3 days left</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <mat-icon class="task-status">check</mat-icon>
                <mat-checkbox color="primary"></mat-checkbox>
            </mat-card-actions>
        </mat-card>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <mat-card class="add-new-card">
            <button (click)="AddNewTask()" mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
        </mat-card>
    </div>
</div>