<mat-toolbar color="primary" class="example-spacer">
    <span class="center-toolbar">
        Cosas por hacer
    </span>
    <p class="date">Hoy: {{date | date:'dd/MM/yyyy'}}</p>
</mat-toolbar>


<div class="card-container">
    <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile [colspan]="2">
            <button mat-raised-button color="primary" (click)="LiberarTareas()">Liberar Seleccionadas</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-fab [matMenuTriggerFor]="menu" matTooltip="Ordenar">
                <mat-icon color="primary">sort</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="Ordenar('FechaCreacion')">Fecha Creacion</button>
                <button mat-menu-item (click)="Ordenar('FechaVencimiento')">Fecha Vencimiento</button>
                <button mat-menu-item (click)="Ordenar('Estado')">Estado</button>
            </mat-menu>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-fab (click)="Drag()" [ngClass]="{'switch-on': disableDrag}" matTooltip="Ordenar Libremente">
                <mat-icon color="primary">reorder</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <mat-card *ngFor="let task of tasks" class="example-card" [cdkDragDisabled]="!disableDrag" cdkDrag [ngClass]="{'liberada': task.status === 'liberada', 'pendiente': task.duedate >= date}">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon *ngIf="task.duedate >= date && task.status != 'liberada'" matTooltip="Pendiente" class="task-status">alarm</mat-icon>
                    <mat-icon *ngIf="task.duedate < date && task.status != 'liberada'" matTooltip="Atrasada" class="task-status">warning</mat-icon>
                    <mat-icon *ngIf="task.status == 'liberada'" class="task-status">check</mat-icon>
                </div>
                <mat-card-title>{{task.name}}</mat-card-title>
                <mat-card-subtitle>{{task.duedate | date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{task.detail}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <mat-checkbox *ngIf="task.status != 'liberada'" color="primary" (click)="Check(task)"></mat-checkbox>
            </mat-card-actions>
        </mat-card>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <mat-card class="add-new-card">
            <button (click)="AddNewTask()" mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
        </mat-card>
    </div>
</div>