.example-card 
  max-width: 400px
  border: 1px solid lightgray
  background-color: #f8f8f8


.example-header-image 
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
  background-size: cover

.example-spacer 
  flex: 1 1 auto
  background-color: #a9d7fc

.center
  margin: 0 auto

